
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* form  */
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url(contactbg.jpg);
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

.contact .content p {

    font-weight: 500;
    color: #fff;
}

.container2{
    width :100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top :30px;
    
}

.container2 .contactInfo
{
     width: 50%;
     display: flex;
     flex-direction: column;

}

.container2 .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    
}

.container2 .contactInfo .box .icon {
    min-width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container2 .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size:16px;
    color :#fff;
    flex-direction:column;
    font-weight: 300;

}

.container2 .contactInfo .box .text h3 {
    font-size: 30px;
    font-weight:500;
    color : antiquewhite;
    
}

.container2 .contactInfo .box .text p {
    font-weight:300;
    color : #fff;
    
}

.contactForm{
   
    width:40%;
    padding:40px;
    background:#fff;
    border-radius: 2rem;
    opacity:0.8;
}

.contactForm h2{
    font-size:30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px ;
}

.contactForm .inputBox input , 
.contactForm .inputBox textarea 
{
    width : 100%;
    padding: 5px 0 ; 
    font-size : 16 px ;
    margin : 10px 0 ; 
    border : none ; 
    border-bottom: 2px solid #333;
    outline : none ;
    resize : none ;

}

.contactForm .inputBox  span{
    position: absolute;
    left : 0 ; 
    padding: 5px 0 ; 
    font-size : 16 px ;
    margin : 10px 0 ;
    pointer-events: none;
    transition : 0.5s ; 
    color : #666;

}

.contactForm .inputBox input:focus ~ span , 
.contactForm .inputBox input:valid ~ span ,
.contactForm .inputBox textarea:focus ~ span , 
.contactForm .inputBox textarea:valid ~ span 
{
    color : #e91e63;
    font-size:12px ;
    transform: translateY(-20px);
}

.contactForm .inputBox button
{
    width: 100px ;
    background : #434545;
    color: #fff;
    border: none; 
    border-radius: 1rem;
    cursor: pointer;
    padding: 10px ;
     font-size : 18 px ; 
}

.contactForm .inputBox button:hover{
    color: black; 
    background-color: antiquewhite;
    border :2px solid black;
}

@media(max-width:991px){
     .contact
     {
        padding : 50px ; 
     }

     .container2 {
        flex-direction: column; 
     }

     .container2 .contactInfo{
        margin-bottom : 40px ; 
     }
     .container2 .contactInfo,  .contactForm{
        width : 100%;
     }

}







